$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


* {
  margin: 0px;
  
}

html, body {
  margin: 0px;
  background-color: bisque;
  height: 100%;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: -200px;
}


/*nav {
  position: fixed;
  height: 50px;
  width: 100%;
  background-color: rgba (0, 0, 0, 5);
  z-index: 99;
  text-align: center;
}*/

.sect {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.subsection {
  height: 40%;
  background-color: bisque;

}


.sectONE {
  background-image: url('../images/oldschoolvan.png');
}

.sectTWO {
  background-image: url('../images/greenbike_copy.png');
}

.sectTHREE {
    background-image: url('../images/canl.png');
}

.sectFOUR {
    background-image: url('../images/thailand.png');
}

nav a {
  margin-left: 30px;
  color: black;
  padding: 10px;
  background-color: blue;
  text-decoration: none;
  line-height: 50px;
  
}

#social {
  margin-bottom: 50px;


}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}



.copyright {
  text-align: center;
  margin-top: 100px;
}

.wordword {
  margin-left: 520px;
}

.wordbox {
  width: 40%;
  height: 15%;
  margin-left: 300px;
  margin-top: 30px;

}

.btn-primary {
  width: 120px;
  height: 40px;
  margin-bottom: 40px;
  margin-left: 355px;
  margin-top: 30px;

}

.savedWords {
  color: white;
  margin-right: 80px;
  margin-bottom: 30px;
  background-color: blue;
  padding: 10px;
  
}

.list {
   width: 250px;
   margin-right: 10px;
  height: 42px;
  text-align: center;

}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
