<div class="aboutpage">


<div class="aboutnav navbar-nav"><a href="../index.html" class="returnhome">Back to home page</div></a>

<br>
<br>

<p class="about" ><strong><b>About Marictionary:<b></strong>
</p>Marictionary is a derivative of urbandictionary.com. Urban Dictionary is a satirical crowdsourced online dictionary of slang words and phrases that was founded in 1999 as a parody of Dictionary.com by then-college freshman Aaron Peckham. Some of the definitions on the website can be found as early as 2001, however most early definitions are from 2003. At the start of 2014, the dictionary featured over seven million definitions, while 2,000 new daily entries were being added. In November 2014, the Advertise page of the website states that, on a monthly basis, Urban Dictionary averages 72 million impressions and 18 million unique readers.[2] Anyone with either a Facebook or Gmail account can make a submission to the dictionary, and it is claimed that all entries are reviewed by volunteers. Site visitors may agree/disagree with definitions by an up/down vote system.

<br>

<b>History<b>
1999–2003: Founding, UK high court case, Advertising[edit]
The site was founded in 1999 by Peckham while he was a freshman computer science major at California Polytechnic State University, San Luis Obispo (Cal Poly). Peckham had previously created a spoof version of the Ask Jeeves web search engine while studying at Cal Poly but closed the website after he received an infringement letter.

<br>
<br>

During the "Internet Underground" panel of the 2011 ROFLCon Summit, Peckham explained that, as a computer science student, his primary motivation was to construct a website; but he was also dissatisfied with the conventional English-language dictionary, as it "was telling us how English was spoken, instead of reflecting how English was actually spoken." For the launch of Urban Dictionary, Peckham installed the website on a FileMaker Pro web server that was operated from under his dormitory room bed at Cal Poly.[4] One of the first definitions on the site was "O.G.", defined as "a retired gangster who sits on the porch in the ghetto and preaches to the youngsters".

<br>
<br>

For the first four years, the site generated revenue without making a profit for Peckham, but did not incur any costs,[dubious – discuss] so Peckham's role was mostly passive. In 2003,[6] Peckham paid more attention to the site after a news article revealed that United Kingdom (UK) high court judges had used Urban Dictionary to assist them in a case involving two rappers (the judges unsuccessfully attempted to comprehend slang language that the rappers used).

<br>
<br>

According to Peckham in 2011, the site first displayed advertising around 2004. Peckham explained that advertising networks connect companies to Urban Dictionary.