



<!-- <p>
<button class="btn btn-lg btn-primary" ng-click="lookUp()">Look it up!</button>
</p>

<input type="text" >

</input> -->





        <br>

        <!-- {{wordsFound.list[0].definition}} -->
        <ul class="wordresults">
          <li ng-animate="'animate'" ng-repeat="word in wordsFound.list | limitTo: 7">
             <strong>{{word.list}}</strong> | 

             {{word.list}},
             {{word.definition}} <br>
            {{word.definition[0].example}} 
            {{word.definition[0].thumbsup}}  <br>
            {{word.definition[0].thumbsdown}} <br>
            <!-- {{word.thumbnail}} -->
           
<br>
           <button class="saveword" id="btn btn-lg btn-primary" ng-click="saveWord(word)">Save Word</button>
<br>
             <br>
          </li>

        </ul>

      </div>

      <div ng-if="searchQuery">
        <p class="lead">{{wordsFound.count}} words found matching the query: {{searchQuery}}. </p>





<div ng-if="storage.savedWords">
  <h2>Saved Words</h2>
  <ul class="saved-words-list">
    <li ng-repeat="word in storage.savedWords">
      <a ng-href="/#/wordSearch/{{word.list}}" class="btn btn-lg btn-primary">{{word.list}}</a>
    </li>
  </ul>
</div>