

<div>
 

     <ul class="savedwordresults">


<div>
 <a href="#/index.html" class="backtosearch">Back to Search
</a>
         
</div>

<br>
<br>

      

          <li ng-repeat="word in storage.savedWords track by $index | limitTo: 10">
             <strong>{{word.word}}</strong>



            {{word.word}}
            {{word.definition}} <br>
            {{word.definition.example}} 
            {{word.word[0].thumbsup}}  <br>
            {{word.word[0].thumbsdown}} 
            {{word.thumbnail}} <br>
      

          </li>

        </ul>


 </div>