<p class="Favorites">Favorite Words</p>

<a href="#/index.html" class="backtosearch">Back to Search
</a> 
<div>

     <ul class="wordresults">
          <li ng-repeat="word in storage.savedWords | limitTo: 15">
             <strong>{{word.word}}</strong> |

            {{word.word}},
            {{word.definition}} <br>
            {{word.definition[0].example}} 
            {{word.word[0].thumbsup}}  <br>
            {{word.word[0].thumbsdown}} 
            {{word.thumbnail}} <br>
      
        </ul>

       


 </div>
